[core]
	excludesFile = ~/.gitignore
	pager = delta
	editor = nvim
[user]
	name = Ivo Murrell
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[commit]
	gpgsign = true
	verbose = true
[push]
	default = current
[pull]
	rebase = true
[merge]
	autoSetupMerge = inherit
[github]
	user = ivomurrell
[init]
	defaultBranch = main
[rebase]
	autoStash = true
	autoSquash = true
[merge]
	conflictStyle = diff3
[help]
	autoCorrect = 15
[pager]
	difftool = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[delta]
	features = mantis-shrimp
	pager = less -R --mouse
[delta "mantis-shrimp"]
    #author: https://github.com/2kabhishek
	dark = true
    # side-by-side = true
	navigate = true
	keep-plus-minus-markers = true
	hyperlinks = true
	file-added-label = [+]
	file-copied-label = [==]
	file-modified-label = [*]
	file-removed-label = [-]
	file-renamed-label = [->]
	file-style = omit
    #file-style = syntax bold italic
	zero-style = syntax
	syntax-theme = Monokai Extended
	commit-decoration-style ="#ff5500" box
	commit-style = "#FFD21A" bold italic
	hunk-header-decoration-style = "#1688f0" box ul
	hunk-header-file-style = "#FFD21A" ul bold "#640BFF"
    #hunk-header-line-number-style = "#FFD21A" box bold
	hunk-header-style = file line-number syntax bold italic
	line-numbers = true
	line-numbers-left-format = "{nm:>1}|"
	line-numbers-left-style = "#1688f0"
	line-numbers-minus-style = red bold
	line-numbers-plus-style = green bold
	line-numbers-right-format = "{np:>1}|"
	line-numbers-right-style = "#1688f0"
	line-numbers-zero-style = "#aaaaaa" italic
	minus-emph-style = syntax bold "#b80000"
	minus-style = syntax "#5d001e"
	plus-emph-style = syntax bold "#007800"
	plus-style = syntax "#004433"
	whitespace-error-style = "#280050"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
