if status is-interactive
  # Set up the starship prompt
  function starship_transient_prompt_func
    starship module character
  end
  function starship_transient_rprompt_func
    starship module time
  end
  starship init fish | source
  enable_transience
  {{ if lookPath "zoxide" }}
  # Set up the zoxide cd/z alternative
  zoxide init fish | source
  {{- end }}
  {{- if eq .chezmoi.os "linux" }}
  # needed to get pinentry working for GPG passphrases
  set -x GPG_TTY (tty)
  {{- end }}
end

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}
# Add Apple Silicon homebrew prefix to PATH
fish_add_path /opt/homebrew/bin
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# Disable homebrew environment hint messages
set -gx HOMEBREW_NO_ENV_HINTS 1
{{ end -}}
# Add cargo global packages to PATH
fish_add_path ~/.cargo/bin
# Add misc local symlinks to PATH
fish_add_path ~/bin
{{- if lookPath "go" }}
# Add go packages to PATH
fish_add_path (go env GOPATH)/bin
{{- end }}

# Add abbreviations
abbr -a gsc git switch -c
abbr -a gsh git show
abbr -a gs git status
abbr -a gl git log
abbr -a gsw git switch
abbr -a gd git diff
abbr -a ns npm start

{{- /* Use 1Password as an ssh agent on computers that have been set up for it */ -}}
{{- if (and (ne .chezmoi.hostname "FT-MW1112") (lookPath "op")) }}
# Use 1Password as an ssh agent
set -gx SSH_AUTH_SOCK "~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- if lookPath "aws" }}
# Enable AWS CLI autocompletion: github.com/aws/aws-cli/issues/1079
complete --command aws --no-files --arguments '(begin; set --local --export COMP_SHELL fish; set --local --export COMP_LINE (commandline); aws_completer | sed \'s/ $//\'; end)'
{{- end }}

{{- if lookPath "volta" }}
set -gx VOLTA_HOME "$HOME/.volta"
fish_add_path "$VOLTA_HOME/bin"
{{- end }}

set -gx EDITOR nvim

set -gx RIPGREP_CONFIG_PATH "$HOME/.ripgreprc"

set -gx FZF_DEFAULT_COMMAND "fd --type f --strip-cwd-prefix --hidden --follow --exclude .git"
