import = [
    "~/.config/alacritty/themes/themes/solarized_osaka.toml"
]

[font]
{{- /* alacritty handles font scaling differently between OSes */ -}}
{{- if eq .chezmoi.os "darwin" }}
size = 13.0
{{- else }}
size = 10.0
{{- end }}

[font.normal]
family = "JetBrainsMono Nerd Font"

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "T"
mods = "Command"

[mouse]
hide_when_typing = true

[scrolling]
history = 100000

[selection]
save_to_clipboard = true

[window]
resize_increments = true
{{- if eq .chezmoi.os "linux" }}
opacity = 0.95
{{- end }}

[window.padding]
x = 4
y = 4
